﻿@using EcoPay.Models
@model List<EcoPay.Models.Transaction>

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<h1>
    Notifications
</h1>
    
<form method="post" enctype="multipart/form-data" action="Transaction/Upload">
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload one or more files using this form:</p>
            <input type="file" name="files" multiple />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>

<div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach (var transaction in Model)
                    {
                        <th>@transaction.Description</th>
                        <th>@transaction.Date</th>
                        <th>@transaction.Amount</th>
                    }
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>

