﻿@using EcoPay.Models
@model List<EcoPay.Models.Notification>

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<h1>
    Notifications
</h1>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Start Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            @foreach (var notification in Model)
            {
                <td>@notification.Title</td>
                <td>@notification.StartDate</td>
            }
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>